
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*
!/.env.example
!/.env.prod.example
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/deploy/.env*.local
/public/bundles/
/public/uploads/
/var/
/vendor/
###< symfony/framework-bundle ###

# Log e file temporanei locali
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File locali dell'editor/sistema operativo
.DS_Store
._*
Thumbs.db
.idea/
.vscode/
